<section class="container customersay" id="customer-say">
    <h3 class="castomersay_title">What our Customers Say</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="customer-tablet">
      <wrap class="castomer_feedback">
        <p class="costomer_title">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
  
        <div class="customer_block">
          <img src="./img/mobile_img/castomer.jpg" alt="customer" />
          <div class="castomer_name">
            <p class="name">Sumith Shah</p>
            <span>Some Dude</span>
          </div>
        </div>
      </wrap>
  
      <wrap class="castomer_feedback">
        <p class="costomer_title">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
  
        <div class="customer_block">
          <img src="./img/mobile_img/castomergirl.jpg" alt="customer" />
          <div class="castomer_name">
            <p class="name">Sumith Shah</p>
            <span>Some Dude</span>
          </div>
        </div>
      </wrap>
    </div>
  </section>