<section class="container favorites">
  <h2 class="favorites_title active anim-items">Some of Our Favorites</h2>
  <p class="favorites_p">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <div class="container favorits-image img-tablet">
    <img
      class="grid-item food"
      src="./img/tablet_img/gamburger.jpg"
      alt="gamburger"
    />
    <img class="grid-item food" src="./img/tablet_img/pasta.jpg" alt="pasta" />
    <img class="grid-item food" src="./img/tablet_img/pizza.jpg" alt="pizza" />
    <img
      class="grid-item food"
      src="/img/tablet_img/chicken.jpg"
      alt="chicken"
    />
    <img class="grid-item food" src="./img/tablet_img/salat.jpg" alt="salat" />
    <img
      class="grid-item food"
      src="./img/tablet_img/borshch.jpg"
      alt="borshch"
    />
  </div>
</section>
