<header class="header">
  <div class="container header-flex">
    <a
      ><img
        class="logo"
        src="./img/desktop_img/logo.svg"
        alt="logo"
        width="66px"
        height="52px"
      /></a>
      <div class="nav-flex">
        <button
          class="menu-open js-open-menu"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="icon_hamburger" width="32" height="22">
            <use href="./img/sprite.svg#menu-hamburger"></use>
          </svg>
        </button>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="link current" href="/index.html">Home</a>
            </li>
            <li class="nav-item"><a class="link" href="#About">About</a></li>
            <li class="nav-item">
              <a class="link" href="#Service">Service</a>
            </li>
            <li class="nav-item"><a class="link" href="#Menu">Menu</a></li>
            <li class="nav-item">
              <a class="link" href="#Contact">Contact</a>
            </li>
          </ul>
          <button class="nav-btn btn" type="button" data-modal-open>
            Order Now
          </button>
        </nav>
      </div>
  </div>
  <!-- --------MOB MENU FOR MOBILE-VERS----------- -->

  <div class=" mob-menu js-menu-container">
       <div class="container">
         <div class="menu-thumb">
          <button class="menu-close js-close-menu" type="button">
            <svg class="icon" width="8" height="8">
               <use href="./img/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <ul class="menu-site-nav">
            <li class="menu-item"><a class="menu-link current" href="index.html">Home</a></li>
            <li class="menu-item"><a class="menu-link" href="#">About</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Service</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Menu</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Contacts</a></li>
          </ul>
        </div>
       </div>
</header>
