<section class="container hero">
  <div class="container hero-box">
    <div class="hero-content">
      <h1 class="title_hero">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="text_hero">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="btn-hero" type="button" data-modal-open>Order Now</button>
    </div>
    <div class="slider">
      <div
        class="slider-img autoplay"
        data-autoplay="true"
        data-interval="7000"
        data-loop="true"
      >
        <div><img src="../img/desktop_img/food_1.jpg" alt="food" /></div>
        <div><img src="../img/desktop_img/food_2.jpg" alt="food" /></div>
        <div><img src="../img/desktop_img/food_3.jpg" alt="food" /></div>
      </div>
    </div>
  </div>
</section>
