<div class=" offering-apfel">
    <section class="container offering">
     <div class="apple-tablet">
   <img class="img_offering1" src="./img/tablet_img/apple-big.png" alt="appel-big">
   <img class="img_offering2" src="./img/tablet_img/apple-medium.png" alt="appel-medium">
   <img class="img_offering3" src="./img/tablet_img/apple-small.png" alt="appel-small">
  </div>
   <img class="img_offering" src="./img/mobile_img/apple.png" alt="appel">

   <div class="content-wrapper">


   <div class="container-offering-second">
    <h2 class="offering-title .block__title">What’s Special About Our Offerings</h2>

     <p class="offering-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    </div>
    <div class="offering-second">
    <ul class="offering-list">
      <li class="offering-link1 list">
        <a href="#" class="offering-icon">
                  <svg class="svg-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-rocket"></use>
                  </svg>
                </a>
        <h3 class="fasest-delivery">Fasest Delivery</h3>
        <p class="offering-paragraf1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse varius enim in eros.</p>
      </li>
      <li class="offering-link2 list">
        <a href="#" class="offering-icon">
                  <svg class="svg-icon" width="20" height="20">
                    <use
                      href="./img/sprite.svg#icon-touch"
                    ></use>
                  </svg>
                </a>
        <h3 class="easy-to-order">Easy To Order</h3>
        <p class="offering-paragraf2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse varius enim in eros.
        </p>
      </li>
    </ul>
    </div>
    <div class="offering_read">
  <button href="#menu" class="btn btn_offering" type="button" data-modal-open>Order Now</button>
<a href="#customer-say" class="read_more">Read More</a>
  </div>
    </div>
    </div>
  </section>
</div>