<section class="subscribe">
    <div class="container subs-box">
      <div>
        <h2 class="subs-title">Subscribe To Get Special Offers</h2>
        <p class="subs-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
<div class="subscribe-wrap">
        <input class="subs-form"  type="email" name="email" value="Enter your email" />
        <button class="btn footer-sbscrb-btn" type="button" data-modal-open>Subscribe</button></div>
      </div>
    <div>
    <img src="./img/mobile_img/banan.jpg" alt="banan" />
    </div>
  </section>