.menu-open {
  background: var(--bg-color);
  padding: 0;
}

.header-flex {
  width: 100%;
  display: flex;

}

.nav {
  display: none;

}

.icon_hamburger>use {
  stroke: #7EB101;
}

.icon_hamburger>use:hover {
  stroke: var(--second-bg-color);
}

.header {
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 0;

}

.logo:hover {
  animation: rotate 1s linear infinite;
}

.logo_footer:hover {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.link:hover {
  transform: scale(1.2);
  /* Увеличение размера ссылки при наведении */
  transition: transform 0.2s ease-in-out;
  /* Плавное изменение размера */
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.nav-flex {
  display: flex;
  align-items: center;
  margin-left: auto;

}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 14px;
  line-height: 1.14;
}

.nav-item .link {
  display: block;
}

.link.current {
  color: var(--accent-color);
  text-decoration: underline;
}

.nav-item,
.nav-btn {
  display: none;
}

.menu-site-nav {
  text-decoration: none;
  color: inherit;
}

/* --------------------------------------------------- */



@media (min-width:767.98px) {

  .container {
    min-width: 767.98px;
  }

  .menu-thumb {
    display: none;
  }

  .icon_hamburger {
    display: contents;
  }

  .nav-item,
  .nav-btn {
    display: block;
    margin-left: 30px;
  }

  .mob-menu {
    display: none;
  }

  .nav-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    width: 98px;
    min-height: 32px;
    background-color: var(--accent-color);
    border-style: none;
    border-radius: 30px;
  }

}