.slider-img {
  display: none;
}

.modal-overlay .modal {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(100%);
}

.title_hero {

  margin-bottom: 28px;
  font-size: 28px;
  font-weight: 700;

}

.text_hero {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  /* max-width: 336px; */
}



.btn-hero {
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  width: 98px;
  min-height: 32px;
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 34px;
  margin-bottom: 56px;
  z-index: 1000;

}

.btn-hero:hover {
  background-color: var(--second-bg-color);

}

.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--second-bg-color);
}

.hero-content {
  min-width: 0;
  display: flow-root;
  justify-content: left;
  padding-top: 60px;

}

.hero-box {
  min-width: 0;
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  margin-right: 40px;

}

.img_offering2,
.img_offering3 {
  opacity: 100%;
}

/* -------------------------------- */
/* Modal css */


.menu-open {
  stroke: var(--tittle-body-color);
  background-color: transparent;
  margin-left: auto;
}


.mob-menu {
  min-width: 130px;
  min-height: 255px;
  border-radius: 30px 0px 30px 30px;
  background: #FEFEFE;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
  position: fixed;
  z-index: 1;
  top: 7%;
  right: 1%;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mob-menu>.container {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 32px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--transition-function),
    background-color 250ms var(--transition-function);
}


.icon-check:hover .icon-check:focus {
  background-color: var(--hover-focus-color);
  fill: var(--accent-color);
}

.menu-close {
  stroke: #000000;
}

.menu-site-nav {
  margin-bottom: 32px;
  justify-content: flex-start;

}

.menu-site-nav .menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-link {

  font-size: 16px;
  font-weight: 400;
  transition: color 250ms var(--transition-function);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--extra-color);
}




/* ---------------------------- */
@media (min-width:238.98px) {
  .container {
    padding: 0px 20px;
  }
}

@media (min-width:767.98px) {
  .container {
    padding: 0px 32px;
  }

  .slider-img {
    display: block;
  }

  .slider-img {
    max-width: 292px;
    max-height: 292px;
    top: auto;
    background: #fefefe;
    border: 14px solid var(--second-bg-color);
    border-radius: 50%;
    overflow: hidden;
  }

  .btn-hero:hover {
    background-color: var(--second-bg-color);
    cursor: pointer;
  }



  .slider {
    margin-top: 50px;

  }

  .nav-list {
    display: flex;
  }
}