/* ------------------------------------------------------------------- */

.menu-open {
  stroke: var(--tittle-body-color);
  background-color: transparent;
  margin-left: auto;
}


.mob-menu {
  min-width: 130px;
  min-height: 255px;
  border-radius: 30px 0px 30px 30px;
  background: #FEFEFE;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
  position: fixed;
  z-index: 1;
  top: 7%;
  right: 1%;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mob-menu>.container {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 32px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--transition-function),
    background-color 250ms var(--transition-function);
}


.icon-check:hover .icon-check:focus {
  background-color: var(--hover-focus-color);
  fill: var(--accent-color);
}

.menu-close {
  stroke: #000000;
}

.menu-site-nav {
  margin-bottom: 32px;
  justify-content: flex-start;

}

.menu-site-nav .menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-link {

  font-size: 16px;
  font-weight: 400;
  transition: color 250ms var(--transition-function);

}

.menu-link:hover,
.menu-link:focus {

  color: var(--extra-color);
}

.menu-site-nav .current {
  color: var(--hover-focus-color);
}

.mob-menu.is-open {
  transform: translateX(0);
}

.menu-link.current {
  color: var(--extra-color);
}



/* ------------------------------------------------------------------------------------------------------------------------------- */

/* Добавьте стили для анимации закрытия формы */
.modal {
  /* Ваши текущие стили */
  transition: opacity 0.3s ease, transform 0.6s ease;
}

.is-hidden {
  opacity: 0;
  transform: translateY(-20px);
  /* Поднимите форму наверх */
  pointer-events: none;
  /* Скройте элемент от событий мыши */
}