.offering-apfel {
  background-image: url(/img/mobile_img/bg-mobile1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.btn_offering:hover,
.btn_offering:focus {
  background-color: var(--accent-color);
}

.apple-tablet {
  display: none;
}

.apple-tablet .img_offering {
  padding-top: 70px;
  display: flex;
  margin: auto;
}

.offering-first {
  position: relative;
}

.offering-title {
  margin-top: 60px;
  margin-bottom: 28px;
  font-size: 28px;
  font-weight: 700;
}

.btn_offering {
  padding: 10px 22px;
  background-color: var(--bg-color);
  color: var(--main-color);
  border-radius: 30px;
  border: 2px solid var(--dark-green, #7EB101);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}

.offering-icon {
  border-radius: 50%;
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 8px;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.offering-icon:hover {
  stroke: #ffff;
  border-color: var(--extra-color);
}

.offering_read {
  display: inline-block;
  gap: 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 60px;
}

.svg-more {
  display: flex;

}

.svg-read {
  display: flex;
}

.read_more::after {
  content: "...>";
  width: 30px;
  height: 30px;
  display: inline-block;
  color: black;
  cursor: pointer;

}

.read_more:hover,
.read_more:focus {
  color: var(--extra-color);
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}


.read_more {
  padding-left: 24px;
  cursor: pointer;

}

.offering-titl {
  padding-bottom: 15px;
}

.offering-list {
  padding-bottom: 28px;
}

.list {
  padding-bottom: 16px;
  padding-top: 8px;
}


@media (min-width:767.98px) {

  .apple-tablet {
    display: block;
  }

  .offering-apfel {
    background-image: url(/img/tablet_img/bg-768.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 1140px;
    margin-top: -100px;

  }

  .img_offering {
    display: none;
  }


  .apple-tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;
  }

  .container-offering-apfel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offering-title {
    font-size: 42px;
    font-weight: 700;
    max-width: 526px;
  }


  .container-offering-second {
    display: flex;
    flex-wrap: wrap
  }

  .offering-second {
    max-width: 500px;
  }

  .offering-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 116px;
  }

  .offering-text {
    font-size: 16px;
    font-weight: 400;
    max-width: 500px;
  }

  .read_more {
    font-size: 13.667px;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 24px;
    color: black;
    cursor: pointer;
  }
}

@media (min-width:1024px) {
  .title-hero {
    color: var(--main-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
  }

}

@media (min-width:1280px) {

  .apple-tablet {
    display: none;
  }

  .offering-apfel {
    background-image: url(/img/desktop_img/bg1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 824px;
    margin-top: -100px;
  }

  .img_offering {
    display: block;
    min-width: 396px;
  }


  .offering {
    display: flex;
    align-items: center;
    padding-top: 200px;
    /* Выравнивание элементов по вертикали */
  }

  .img_offering {
    flex: 0 0 auto;
    /* Элемент изображения не растягивается и не сжимается */
    margin-right: 74px;
    /* Расстояние между изображением и остальным контентом */
  }

  .content-wrapper {
    flex: 1;
    /* Остальной контент растягивается, чтобы занять доступное пространство */
  }
}