/* Reset styles */
:root {
  --bg-color: #fefefe;
  --second-bg-color: #ffe550;
  --main-color: #2c2c2c;
  --accent-color: #bbf330;
  --extra-color: #7eb101;
  --form-text: #505050;
  --time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  padding: 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
li,
a {
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}



/* ---------------general------------ */



/* .block__body {
  padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1310 - 320)));
}

.block__title {
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1310 - 320)));
  line-height: 130%;
  margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1310 - 320)));
}

.block__text {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
  line-height: 150%;
} */

.container {
  width: 100%;
  padding: 15px;
  max-width: 1280px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}


.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.btn {
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--main-color);
  border-radius: 30px;
  border: 2px solid var(--dark-green, #7EB101);
}

.btn_offering {
  background-color: var(--bg-color);
  color: var(--main-color);
  border-radius: 30px;
  border: 2px solid var(--dark-green, #7EB101);

}


.btn.nav-btn:focus {
  background-color: var(--accent-color);
}

.nav-btn:hover {
  background-color: var(--accent-color)
}

@media (min-width: 375px) {
  :root {
    --container-width: 375px;
  }

  @media (min-width: 768px) {
    :root {
      --container-width: 768px;
    }

    .container {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}

@media (min-width: 1280px) {
  :root {
    --container-width: 1280px;
  }
}