@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
/* @import url('./offering.css');
@import url('./favorites.css');
@import url('./customer.css');
@import url('./subscribe.css');
@import url('./footer.css'); */



:root {
  --bg-color: #fefefe;
  --second-bg-color: #ffe550;
  --main-color: #2c2c2c;
  --accent-color: #bbf330;
  --extra-color: #7eb101;
  --form-text: #505050;
}




/* ---------------general------------ */