.subs-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  max-width: 280px;
  padding-top: 30px;
}

.subs-text {
  margin-top: 20px;
}

.subs-form {
  margin-top: 24px;
  font-size: 12px;
  color: var(--form-text);
  border-radius: 30px;
  border: 0.854px solid;
  border-color: var(--second-bg-color);
  height: 42px;
  min-width: 100%;
  padding: 12px 0px 12px 12px;
  align-items: center;
}

.subs-form:hover,
.subs-form:focus {
  border-color: #bbf330;
}

.subs-box {
  display: wrap;
  margin-top: 52px;
  position: relative;
}

.subscribe-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}


.mobile-banan {
  position: absolute;
  left: 25%;
  top: -30%;
  transition: max-width 0.5s, max-height 0.5s;
}

.sbc-mob {
  /* border-radius: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 11px 22px;
  margin-left: auto;
}

@media (min-width:425px) {
  .mobile-banan {
    left: 25%;
    top: -30%;
    min-width: 230px;
  }
}

@media (min-width:768px) {
  .mobile-banan {
    max-width: 281px;
    position: absolute;
    top: -60%;
    left: 65%;
  }

  .subs-title {
    display: flex;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    margin: auto;
    min-width: 656px;
    padding-top: 20px;
  }

  .subs-tablet {
    display: flex;
    gap: 22px;
  }

  .subs-form {
    min-width: 50%;
  }

  .sbc-mob {
    margin-left: 0;
  }
}

@media (min-width:900px) {

  .mobile-banan {
    max-width: 425px;
    top: -60%;
  }
}

@media (min-width:1140px) {

  .subs-title {
    margin: 0;
  }

  .subs-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 608px;
  }
}